//body {
//  font-size: 5px;
//}

//body {
//  font-size: 5px + 10px;
//}

//body {
//  font-size: 15px - 10px;
//}

//body {
//  font-size: (5px * 10);
//}

//body {
//  font-size: (15px / 5);
//}

//======================================================================================
//при роботі зі змінними також доступні усі оператори
//$value: 5px;
//$color: #abc;
//
//body {
//  font-size: $value * 4;
//  color: $color;
//}

//==========================================================
$value: 5px;
$color: #abc;

body {
  font-size: $value * 4;
  color: darken($color, 20%);
}
